@charset "UTF-8";
#wrap {
  width: 100%;
}
#wrap #header {
  background-color: red;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
#wrap #header .top-box {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;
}
#wrap #header .top-box .logo-box {
  width: 140px;
}
#wrap #header .top-box .logo-box a img {
  width: auto;
}
#wrap #header .top-box nav {
  display: flex;
  align-items: flex-end;
}
#wrap #header .top-box nav ul {
  display: flex;
}
#wrap #header .top-box nav ul li {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#wrap #header .top-box nav ul li a {
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
}
#wrap #header .top-box nav ul li a:hover {
  text-decoration: underline;
}
#wrap #header .top-box .link-box a {
  display: inline-block;
  width: 55px;
  height: 55px;
}
#wrap #header .top-box .link-box .util-store {
  background: url(../img/pjh/intro/header/1.svg) no-repeat 50% 50%;
}
#wrap #header .top-box .link-box .util-search {
  background: url(../img/pjh/intro/header/돋보기.svg) no-repeat 50% 50%;
}
#wrap #header .top-box .link-box .util-account {
  background: url(../img/pjh/intro/header/3.svg) no-repeat 50% 50%;
}
#wrap #header .top-box .link-box .util-cart {
  background: url(../img/pjh/intro/header/4.svg) no-repeat 50% 50%;
}
#wrap #header .extended-menu {
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 40px 200px;
}
#wrap #header .extended-menu .title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}
#wrap #header .extended-menu .col {
  margin-left: 50px;
}
#wrap #header .extended-menu .col ul li {
  padding: 10px 0;
}
#wrap #header .extended-menu .col ul li.title {
  padding-bottom: 20px;
}
#wrap #header .extended-menu .col ul li.title a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
#wrap #header .extended-menu .col:first-child {
  width: 350px;
  border-right: 1px solid #ccc;
}
#wrap #header .extended-menu .col:last-child {
  width: 350px;
  padding-left: 60px;
  border-left: 1px solid #ccc;
}
#wrap #header .extended-menu.brand {
  padding: 40px;
}
#wrap #header .extended-menu.brand ul {
  display: flex;
}
#wrap #header .extended-menu.brand ul li {
  width: 20%;
  padding: 0 15px;
}
#wrap #header .extended-menu.brand ul li .img-box {
  width: 100%;
  overflow: hidden;
}
#wrap #header .extended-menu.brand ul li .img-box img {
  width: 100%;
  transition: all 0.5s;
}
#wrap #header .extended-menu.brand ul li .img-box img:hover {
  transform: scale(1.1);
}
#wrap #header .extended-menu.brand ul li .text-box {
  margin-top: 10px;
  text-align: center;
}
#wrap #header .extended-menu.brand ul li .text-box a {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}